.about {
    color: white;
    text-align: center;
    background-color: #42487c;
}

#about h1 {
    font-size: 4em;
    margin: 0.3em auto 0;
}

#about p {
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 60%;
}

#about > p {
    margin: 1em auto 0;
    line-height: 28px;
}

#about #container {
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
}

#about #container .item {
    margin: 5em;
    line-height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    text-align: center;
}

#about #container .item h1 {
    margin: 0.7em auto 0;
    font-size: 5em;
    font-weight:bolder
}

#about #container .item p {
    font-size: 3em;
    margin: 0 auto 1.1em;
    font-weight: bold;
}
